<!-- index.hbs-->
    <article>
        <h2>Welcome to the Vapor Game Store Database!</h2>
    </article>
    <p>This database offers the ability to Create, Read, Update, and Delete data from our database directly from this site.</p>